@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --paragraphs: hsla(0, 0%, 100%, 0.75);
  --background-headings-buttons: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: "Lexend Deca";
  font-size: 15px;
  background-color: var(--background-headings-buttons);
}

main {
  padding: 10%;
}

article {
  border-radius: 10px;
  overflow: hidden;
  display: grid;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding: 40px;
}

img {
  width: 50px;
  height: 30px;
}

h1 {
  font-size: 2em;
  color: var(--background-headings-buttons);
  text-transform: uppercase;
}

button {
  background-color: var(--background-headings-buttons);
  padding: 15px;
  width: 110px;
  border: 2px solid;
  cursor: pointer;
  font-weight: 700;
  border-radius: 30px;
}

p {
  color: var(--paragraphs);
  width: 240px;
  line-height: 28px;
}

.sedans {
  background-color: var(--Bright-orange);
}

.sedans button {
  color: var(--Bright-orange);
}

.suvs {
  background-color: var(--Dark-cyan);
}

.suvs button {
  color: var(--Dark-cyan);
}

.luxury {
  background-color: var(--Very-dark-cyan);
}

.luxury button {
  color: var(--Very-dark-cyan);
}

h1 {
  font-family: "Big Shoulders Display";
}

button:active {
  background-color: transparent;
  border: solid 2px var(--background-headings-buttons);
  color: aliceblue;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 750px) {
  article {
    grid-template-columns: 1fr 1fr 1fr;
  }
  p {
    width: 210px;
  }

  main {
    padding: 5%;
  }
}
